@import "mixins";
@import "variables";

.burger {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 5px;
  top: 3px;
  z-index: 12;

  @include mobile-only {
    display: block;
  }
}

.bar {
  width: 30px;
  height: 4px;
  background-color: $colorWhite;
  margin: 5px 0;
  transition: 300ms;
}

.menu-container.__black .bar, .burger.__opened .bar {
  background-color: $colorBlack !important;
}

/* Rotate first bar */
.__opened .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */
.__opened .bar:nth-child(2) {
  opacity: 0;
}

/* Rotate last bar */
.__opened .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -7px);
}

.burger-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: $colorWhite;
}

//.__opened {
//
//}
