body {
  font-family: 'Roboto Mono', monospace;
  color: #444;
  font-size: 14px;
  max-width: 600px; }

.portfolio-table {
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 10px 2px; }
  .portfolio-table_date {
    vertical-align: top;
    font-size: 11px;
    text-align: right;
    white-space: nowrap; }
  .portfolio-table_link {
    vertical-align: top;
    text-align: right; }
  .portfolio-table_stack {
    color: #aaa;
    text-align: left; }
