@import "variables";
@import "page.css";
@import "card";

a.link {
  color: $linkBlue;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $linkBlue;
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.1s ease-in-out;
    width: 100%;
  }

  &:hover {
    &:before {
      width: 0;
    }
  }
}

.tag {
  display: inline-block;
  background: #f0e8e4;
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 7px;
  margin-top: 3px;
  color: #333;
}
