@import "reset.css";
@import "mixins";
@import "variables";
@import "card";
@import "link";
@import "menu";

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorBlack;
}

h1 {
  font-size: 6em;

  @include mobile-only {
    font-size: 3em;
  }
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

.section {
  text-align: center;
  background-size: cover;

  &-title {
    width: 100%;
  }

  &-content {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;

    @include mobile-only {
      width: calc(100% - 20px);
      font-size: 1em;
    }
  }

  &.__white {
    color: $colorWhite !important;
  }

  &:nth-child(1) {
    background-image: url(../images/bg.png);
  }

  &:nth-child(4) {
    background-image: url(../images/bg-music.png);
  }
}
