@import "variables";
@import "mixins";

.menu-container {
  color: $colorWhite;
  transition: color 300ms ease;

  .logo {
    position: fixed;
    display: none;
    z-index: 10;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    background: url("../images/md-logo.svg");
    background-size: 100% 100%;

    @include mobile-only {
      display: block;
    }
  }

  &.__black {
    color: $colorBlack !important;

    .menu {
      text-shadow: none !important;
    }

    li a {
      color: $colorBlack !important;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 10;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

  li {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  li.active {
    text-decoration: underline;
  }

  li a,
  li.active a {
    padding: 9px 18px;
    display: block;
    color: $colorWhite;

    transition: color 300ms ease;
  }

  @include mobile-only {
    left: calc(-100% - 50px);
    height: auto;
    background: $colorWhite;
    transition: left 200ms ease-out;
    box-shadow: 0 10px 50px rgba(black, .5);

    li {
      text-shadow: none;
      display: block;
    }

    li a {
      color: $colorBlack !important;
    }

    .burger.__opened + & {
      left: 0;
    }
  }
}
